@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  color: #f0f0f0;
  background-color: #3cb371;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
}

h1,
h2,
h3 {
  text-align: center;
}

.game__heading {
  font-size: 3.5rem;
  font-weight: bold;
}

.game__sub-heading {
  font-size: 2rem;
}

#game-active_text > h3 {
  font-size: 1.5rem;
}

.play__buttons {
  text-align: center;
}

.play__buttons > button {
  font-family: inherit;
  font-size: 2rem;
  border-radius: 10px;
}

.choice__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

button {
  cursor: pointer;
}

#game__scores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player-score,
.computer-score {
  font-size: 4rem;
}

.roundText {
  font-size: 2rem;
}

#result__text {
  color: #ff0000;
  font-size: 2.5rem;
}
